In [1]:
import pandas as pd
# read csv file
allstudent = pd.read_csv("try_score.csv")

In [2]:
allstudent.tail()
#尾端學生的詳細資訊

    Unnamed: 0  實作  考試  學習單  平時成績   總成績
21          22  94  85   95    98  92.2
22          23  95  80   96    98  91.7
23          24   0  75   82    85  51.6
24          25  99  85   65    98  81.9
25          26  94  95   97    98  95.5

In [3]:
handmade = list(allstudent['實作'])
print("本班總人數:", len(allstudent)-1)
#第一行為標題列，所以要扣掉1

本班總人數: 25

In [4]:
print(allstudent['實作'])

0       0
1       0
2      85
3      93
4      94
5       0
6       0
7       0
8     100
9      94
10      0
11    100
12     95
13     93
14     91
15      0
16     93
17     96
18     97
19     93
20     95
21     94
22     95
23      0
24     99
25     94
Name: 實作, dtype: int64

學生座號實作成績
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
Name: Unnamed: 0, dtype: int64 0       0
1       0
2      85
3      93
4      94
5       0
6       0
7       0
8     100
9      94
10      0
11    100
12     95
13     93
14     91
15      0
16     93
17     96
18     97
19     93
20     95
21     94
22     95
23      0
24     99
25     94
Name: 實作, dtype: int64